// 50 tons de rosa

$title_color: #EB3B88;
$card_bg_color: #FFF4F4;
$border_color: #FFD2D2;
$shaddow_color: #FFE5E5;

$input_color: #F072A9;
$input_bg_color: #FFEFF6;
$input_shaddow_color: #FFD5E7;
$input_border_color: #FFC2DC;

$submit_shaddow_color: #FF62A7;
$submit_text_color: #FFCBE2;